<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Map" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8"/>
    <title>Jordan wind map</title>
    <meta itemprop="name" property="og:title" content="Jordan wind map"/>
    <meta name="description" itemprop="description" property="og:description" content="Jordan wind map"/>
    <meta name="author" itemprop="author" content="Ma'moun Othman"/>
    <meta name="google-site-verification" content="7wrTGTpYApGEqGmX11uhiSWta4rso6Z20p31kKcpqkE" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Jordan wind map" />
    <meta property="og:url" content="https://wind.artofeclipse.com/" />
    <meta property="og:title" content="Jordan wind map | artofeclipse.com" />
    <meta property="og:description" content="Jordan wind map using D3js and nodejs" />
    <meta property="og:image" content="http://wind.artofeclipse.com/img/og.png" />
    <meta property="og:email" content="artofeclipse@gmail.com" />
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/iphone-icon.png"/>
    <link rel="apple-touch-icon" size="152x152" href="/ipad-icon.png"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>
    {{{body}}}
</body>
</html>
