<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Map" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8"/>
    <title>Jordan wind map</title>
    <meta itemprop="name" property="og:title" content="Jordan wind map"/>
    <meta name="description" itemprop="description" property="og:description" content="Jordan wind map"/>
    <meta name="author" itemprop="author" content="Ma'moun Othman"/>
    <meta name="google-site-verification" content="7wrTGTpYApGEqGmX11uhiSWta4rso6Z20p31kKcpqkE" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Jordan wind map" />
    <meta property="og:url" content="https://wind.artofeclipse.com/" />
    <meta property="og:title" content="Jordan wind map | artofeclipse.com" />
    <meta property="og:description" content="Jordan wind map using D3js and nodejs" />
    <meta property="og:image" content="http://wind.artofeclipse.com/img/og.png" />
    <meta property="og:email" content="artofeclipse@gmail.com" />
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/iphone-icon.png"/>
    <link rel="apple-touch-icon" size="152x152" href="/ipad-icon.png"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>

    <!--[if lte IE 8]><p id="warn">Please upgrade to IE9 or newer.</p><![endif]-->

    <div id="display" data-topography="/data/jo-topo.json" data-samples="/data/current.json"
                      data-type="wind" data-date="">
        <div id="map">
            <svg id="map-svg" xmlns="http://www.w3.org/2000/svg" version="1.1"></svg>
        </div>
        <div id="field">
            <canvas id="field-canvas"></canvas>
        </div>
        <div id="overlay">
            <canvas id="overlay-canvas"></canvas>
        </div>
        <div id="notice">Orignal map <a target="_blank" href="http://air.nullschool.net/">こちら</a></div>
    </div>

    <div id="about">
        <h1 id="type2">Jordan Wind Speed</h1>
        <p>Air Data | <a target="_blank" href="http://pro.arabiaweather.com">Arabia weather</a></p>
        <p>Map Data |
            <a target="_blank" href="http://www.naturalearthdata.com">Natural Earth</a></p>
        <p>Author |
            Ma'moun Othman <a target="_blank" href="https://twitter.com/mamounothman">@mamounothman</a>,
            <a target="_blank" href="https://www.facebook.com/mamoun.othman">Facebook</a></p>
        <p>Source | <a target="_blank" href="https://github.com/mamounothman/jordan-wind-map">jordan-wind-map</a></p>
        <p>Modules |
            <a target="_blank" href="http://nodejs.org/">node.js</a>,
            <a target="_blank" href="http://d3js.org/">D3.js</a>,
            <a target="_blank" href="https://github.com/cujojs/when">when.js</a>
        </p>
        <br />
        <br />
        <p>This is quick and dirty fork/implementation of <a href="http://air.nullschool.net/">air</a> project, Bug report and feedback are welcomed!.</p>
    </div>

    <script src="/js/when.js" charset="utf-8"></script>
    <script src="/js/d3.js" charset="utf-8"></script>
    <script src="/js/topojson.js" charset="utf-8"></script>
    <script src="/js/mvi.js" charset="utf-8"></script>
    <script src="/js/jo.js" charset="utf-8"></script>
     <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61268960-1', 'auto');
  ga('send', 'pageview');
    </script>
</body>
</html>
